<!DOCTYPE>
<html ng-app="myApp">
<head>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


<title>BarSummary</title> 
<style type="text/css">
      .center {
    margin:auto;
    width: 20%;
    /*display: block; */
    
}


  button {
    display: inline-block;
    margin: 20px;

  }
  /*#inline {
    margin-left:20px;
  }
  /* #check
    {
       margin-left: 90px;
    }*/
   /* #text {
      height: 50px;
      width:400px;
    }*/
  #to-pdf {
    /*height: 300px;
    border:ridge;
     empty-cells: hide;*/
  }
  /* .panel.panel-default
{
  height: 25%;
  width: 100%;
  border-style: solid;
  border-color: black;
}*/
#star{

     color:red;
}

 .selected {
  background-color: blue;
}

#table-wrapper {
  position:relative;
}
#tscroll {
  height:75%;
  overflow:auto;  
  
  margin-top: 1cm;
}
#table-wrapper table {
  width:100%;    
}

#table-wrapper table thead th .text {
  position:absolute;   
  /*position:relative;*/
  top:-20%;
  /* margin-top:-20px;*/
  height:10%;
  width:80%;  
 /* width:35%;*/
 }
 th {
  width: 60px;
}
 
 .panel.panel-default
{
  height: 25%;
  width: 100%;
  border-style: solid;
  border-color: black;
}
.selectpic{
  width:180px;
}

#buttonwidth{
width: 8%;
}


 #tag1:focus {
    background-color: blue;
}
#th1{
    /*color:red;*/
    width: 10%;
    /*padding-left: 10px: */
}
</style>
</head>

<body style="background-color:FFE4B5;" ng-controller="BarcodeCntrl">
  <div ng-include="'allInclude.html'"></div>
            <div class="center" ng-cloak >
        <h2>Barcode Summary</h2>
      </div><br><br>

<div class="panel panel-default" ng-cloak>
 <div id="table-wrapper">
  <div id="tscroll">
  <table class="table no-border">
    <thead>
      <tr>
      <th id="th1"><span class="text">Date</span></th>
      <th id="th1"><span class="text">Item Name</span></th>
        <th id="th1"><span class="text">Total weight</span></th>
        <th id="th1"><span class="text">Total Pcs</span></th>
        <th id="th1"><span class="text">Total Tags</span></th>
        <th id="th1"><span class="text">Remarks</span></th>
        <th id="th1"><span class="text">Summary No</span></th>
        <th id="th1"><span class="text">Composite?</span></th>
        <th id="th1"><span class="text">Splitable?</span></th>
          </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in bardata" ng-click="row3(item)" id="tag1" ng-class="{selected : item === idSelectedVote}">
      <td >{{item.date | date  : "dd-MM-y" }}</td>
       <td >{{item.itemname}}</td>
       <td>{{item.totalweight}}</td>
       <td>{{item.totalpcs}}</td>
       <td>{{item.totaltags}}</td>
       <td>{{item.remarks}}</td>
        <td>{{item.count}}</td>
       <td>{{item.composite}}</td>
       <td>{{item.split}}</td>
      <!--  <td>{{item.combo}}</td> -->
<!-- just for refernce later delete the count -->
       <!-- <td>{{item.count}}</td>  -->
       </tr>
       </tbody>
       </table>
       </div>
       </div>
       </div>
       <div id="button" align="center" ng-cloak>
      <!--  <button>NEW</button> -->
       <button  id="buttonwidth" class="btn btn-info" ng-click="newBarSumm()">New</button>
       <!-- <button>Edit</button> -->
         <button  id="buttonwidth" class="btn btn-primary" ng-click="editBarSumm()">Edit</button>

      <!--  <button>DELETE</button> -->
        <button id="buttonwidth" class="btn btn-danger" ng-click="delete()" ng-if="test == 'display'" >Delete</button>
       
       </div><br>
       <div class="row" ng-cloak>
       <div  >&nbsp;&nbsp;&nbsp;&nbsp;


      
        <form>
    
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label>Summary No <input type="text" class="form-control"  ng-model = "count"  id="usr"  readonly></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       <label >Date&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="star"><font size="04">*</font></span><input type="date" ng-model="bit.date"  ng-disabled="all" required></label>
   

       </div><br>

<div class="row" ng-cloak>
       <!-- <div class="col-sm-4" > -->
      <label class="w3-round-xxlarge" style="padding-left: 40px">Item Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="star"><font size="04">*</font></span><select  class="selectpicker" ng-model="bitem.ItemName" ng-change="checkForCombo(bitem.ItemName)" class="w3-round-xxlarge" ng-disabled="all" required >
        
         <option ng-repeat="itemname in items" value="{{itemname.Name}}"  >{{itemname.Name}}</option>
        </select></label>

      <!--   <div> -->
          
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label class="w3-round-xxlarge">Stock From&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="star"><font size="04">*</font></span><select  class="selectpic" ng-model="bitem.stockin" ng-disabled="all" required>
        
         <option ng-repeat="treasure in treasure"  >{{treasure.stockpointname}}</option>
        </select></label>
          
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label  class="w3-round-xxlarge">Stock To&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="star"><font size="04">*</font></span><select  class="selectpic" ng-model="bitem.stockout" class="w3-round-xxlarge" ng-change ="stock()" ng-disabled="all" required>
        
         <option ng-repeat="treasure in treasure" >{{treasure.stockpointname}}</option>
        </select></label>
          
        </div><br>

       <!--  </form> -->

       <div id="check" style="padding-left: 20px">&nbsp;&nbsp;&nbsp;&nbsp;
       <input type="checkbox" ng-model="bitem.composite" ng-disabled="all || all1 || bitem.splittable" id="check1" ng-click="compositeDis(bitem.composite)" >Is Composite
        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="bitem.splittable"  id="inline"  ng-disabled="all || all1  || bitem.composite " >Is Splittable 
       
       </div><br>
       <div class="row" ng-cloak>

       &nbsp;&nbsp;&nbsp;&nbsp;<label style="padding-left: 40px" >Total weight <span id="star"><font size="04">*</font></span><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');" ng-change="fixedDecimalWeight();"  ng-model="bitem.wt"   ng-disabled="all" step="0.01" ></label>


       &nbsp;&nbsp;&nbsp;&nbsp;<label>Total Pcs &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="star"><font size="04">*</font></span><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0.0-9.0]/g,'');" name="" ng-change="fixedDecimalPcs()" ng-model="bitem.pcs" ng-disabled="all"  ></label>
       
       &nbsp;&nbsp;&nbsp;&nbsp;<label>Total Tags &nbsp;&nbsp;<span id="star"><font size="04">*</font></span><input type="number" min="1" name=""  oninput="this.value=this.value.replace(/[^0-9]/g,'');"  name="" ng-model="bitem.titems" ng-change="fixedDecimalTags()" ng-disabled="all"  ></label>


       &nbsp;&nbsp;&nbsp;&nbsp;<label>Remarks &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="text" ng-model="bitem.remark"   ng-disabled="all"></label> 
      </div>
     <div align="center" ng-cloak>
    
        <button   id="buttonwidth" class="btn btn-success"  class="btn btn-default" ng-click="saveBarcode()" ng-disabled="all">Save</button>
       
         
      </form>
      <!--  <button ng-click="cancel()">Cancel</button> -->
        <button  id="buttonwidth" class="btn btn-warning" ng-click="cancel()" ng-disabled="all">Cancel</button>
       </div>



</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="controller/barcodecntrl.js"></script>   
 <script src="controller/hotkeys.js"></script>
</html>