<!DOCTYPE>
<html ng-app="myApp">
<head>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>Orders</title>
</head>

 
   <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <!-- for -is -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="controller/orderStatus.js"></script>
<script type="text/javascript" src="Services/ControllerService.js"></script>
<link href="tax.css" rel="stylesheet">
<style>
.center {
    margin:auto;
    width: 20%;
    
    
}
  /* .selectpic {
  
    width: 230%;
    
    
}*/
     
#his{
 margin-left:1150px;
  margin-top:-90px;
  color:blue;
  position:fixed;
}
#spac{
  width:200px;
}
#party{
  width:110px;
}
.selected {
  background-color: blue;
}

 #selectrow1:focus {
    background-color: blue;
}

</style>


<body style="background-color:FFE4B5;" ng-controller="orderStatus">

  <div ng-include="'allInclude.html'"></div>

 <div  class="center" ng-cloak>
  <h3 >Order Status</h3>

   
  </div> <br>
<div class="container">
<nav class="navbar navbar-inverse">
  
    <ul class="nav navbar-nav">
      <li class="active"><a href="orders.html">Order Status</a></li>
      <li><a href="orderCustomer.html">Order Detail</a></li>
      <li><a href="orderMaking.html">Order Management</a></li>
    </ul>
  
</nav>

<div class="col-sm-4">
          <!--  <div > -->
              
                Order Type<!-- <form > -->
                    <select id="party" ng-model="typeorder"  ng-change="clearDataOrd()">
                      
<!--  ng-init=" transaction = 'Regular Sale'"  -->
                        <option ng-repeat="order in ordertype">{{order.ordertype}}</option></select>
                      

                  <!--   </select> -->
          <!--     </form> -->
            <!-- </div> -->
        </div>
        <div class="col-sm-8" >    
From <input type="date" ng-model="datefrom" id="dates" ng-change="clearDataOrd()" />
To  <input type="date" ng-model="dateto" id="dates" ng-change="clearDataOrd()" />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button ng-click="getorder(typeorder,datefrom,dateto)" class="btn btn-primary">List</button>
           </div><br><br>
           <div class="row">

<div class="container">
<div class="col-sm-12">
<div class="panel panel-default" id="panel">
<table class="table "  id="to-pdf" >
    <thead  class="thead-default">

      <tr >
      <!-- <th id="spac">SLNO </th> -->
      <th id="spac">Order No</th>
      <th id="spac">Date</th>
        
        <th id="spac"> Party</th>
        <th id="spac">Item</th>
        <th id="spac">Due Date</th>
      <!--   <th >Vendor</th> -->

      </tr>
    </thead>
    <tbody>
     <tr ng-repeat="data in results" ng-click="rowSelect(data,$index)" id="selectrow1" ng-class="{selected : data === idSelected}" ng-model="getdata" >
      
     <!--  <td style="padding-right:80px">{{}}</td> -->
       <td id="spac" >{{data.orderNO}}</td>
       <td id="spac" style="padding-right:140px" >{{data.date | date : "dd.MM.y"}}</td>
      
       <td id="spac" >{{data.partyNames}}</td>
       <td id="spac" >{{data.itemName}}</td>
       <td id="spac">{{data.usedate | date : "dd.MM.y"}}</td>
   
      </tr>
      
       </tbody>
       </table>
       </div>
       </div>
     </div>
     
       <div class="col-sm-3" > 
    </div>
        <div class="col-sm-1" >
        <a> <button id="spac" id="spac"  class="btn btn-warning" ng-click="gotoorders(data)" ng-disabled="typeorder=='Delivered' || makeDisabled=='Delivered' || typeorder=='Completed' || makeDisabled=='Completed'">Edit</button></a></div>
     
</body>
</html>