<!DOCTYPE>
<html ng-app="myApp">
<head>
  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">



<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<title>OrderMaking</title>
</head>

 
   <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
    <!-- for -is -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/0.10.0/lodash.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript" src="controller/orderCntrl.js"></script>
 <script type="text/javascript" src="Services/ControllerService.js"></script>
<link href="tax.css" rel="stylesheet">
<style>
.center {
    margin:auto;
    width: 20%;
    
    
}

     
#his{
 margin-left:1150px;
  margin-top:-90px;
  color:blue;
  position:fixed;
}

#party{
  width:110px;
}
.selected {
  background-color: blue;
}
</style>


<body style="background-color:FFE4B5;" ng-controller="orderCntrl">


 <div ng-include="'allInclude.html'"></div>

 <div  class="center" ng-cloak>
  <h3 >Order Management</h3>

   
  </div> <br>
<div class="container">
<nav class="navbar navbar-inverse">
  
    <ul class="nav navbar-nav">
      <li ><a href="orders.html">Order Status</a></li>
      <li><a href="orderCustomer.html">Order Detail</a></li>
      <li class="active"><a href="orderMaking.html">Order Management</a></li>
    </ul>

</nav>
<div  class="container" style="  border: 1px solid;">
<div class="col-sm-3">
  Vendor   <select id="party" ng-model="vendor"  ng-click="vendorNames()" ng-change="vend()">

                        <option ng-repeat="vendor in vendorNames" ng-cloak>{{vendor.subscriber}}</option>
                    </select>
                      
</div>
<div class="col-sm-3">
  <!-- <form > -->
                    <select id="party" ng-model="ordername" ng-change="vend()" >
                      
<!--  ng-init=" transaction = 'Regular Sale'"  -->
                        <option ng-repeat="making in orderName" ng-cloak >{{making.ordertype}}</option></select>
                      
</div>
<div class="col-sm-6">
  From <input type="date" ng-model="datefrom" id="dates" ng-change="vend()" />
To  <input type="date" ng-model="dateto" id="dates" ng-change="vend()" />
</div>

<div class="col-sm-4" >
  Party&nbsp;&nbsp;&nbsp;
   
              
              
                    <select id="party" ng-model="party"  ng-change="vend()"  >

                        <option ng-repeat="party in partyNames" ng-cloak>{{party.subscriber}}</option>
                    </select>
                 
                       
</div>
<div class="col-sm-2">
  <button  ng-click="oName(ordername,vendor,party,datefrom,dateto)"   class="btn btn-primary">Search</button>

</div>

<div class="container">
<div class="col-sm-12">
<div class="panel panel-default" id="panel">
<table class="table "  id="to-pdf" >
    <thead  class="thead-default">

      <tr>
      <th>Ord No</th>
      <th>Ord Date</th>
        <th style="padding-left: 40px">DueDate</th>
        <th style="padding-left: 40px">Party</th>
        <th style="padding-left: 40px">Item</th>
        <th style="padding-left: 40px">Description</th>
        <th style="padding-left: 40px">Value</th>
        <th style="padding-left: 40px">Vendor</th>
        <th style="padding-left: 40px">Status</th>
        

      </tr>
    </thead>
    <tbody>
     <tr  ng-repeat="item in use"  ng-click="selectrow(item,$index)"  id="selectrow1" ng-class="{selected : item === idSelectedVote}" style="z-index: 1"  >
      
      <td>{{item.orderNO}}</td>
      
       <td>{{item.date | date : "dd.MM.y" }}</td>
      <!--  | date : "dd.MM.y" -->
       <td style="padding-left: 40px">{{item.usedate | date : "dd.MM.y" }}</td>
       <td style="padding-left: 30px">{{item.partyNames}}</td>
       <td style="padding-left: 20px">{{item.itemName}}</td>
       <td style="padding-left: 40px">{{item.desc}}</td>
        <td style="padding-left: 60px">{{item.final}}</td>
        <td style="padding-left: 40px"><!--   <select id="party" ng-model="allocate"  ng-init="ven='Unallocated'" >

                        <option  ng-cloak>{{ven}}</option>
                    </select> -->
                    <input type="text" id="box" ng-model="item.allocate" readonly>
                   <!--  <select ><option>{{"jjj"}}</option></select> -->
                  </td>
          <td style="padding-left: 10px"> <!--  <select id="party" ng-init="ord='Initial'" >
                      
 
      <option >{{ord}}</option></select> -->
       <!--  <input type="text" id="box" ng-model="item.initial"  > -->
       <select ng-model="item.initial" id="party" ng-change="allocateAlert(item.initial,selectedrow)" ng-disabled="item.initial=='Delivered' || item.initial=='New'">
         <option ng-if="item.initial=='New'">New</option>
        <option ng-if="item.initial=='Allocated'">Allocated</option>
        <option ng-if="item.initial=='Allocated' || item.initial=='Received'">Received</option>
       
       <option ng-if="item.initial=='Received' || item.initial=='Completed' ">Completed</option>
       <option ng-if="item.init=='Completed' || item.initial=='Delivered' ">Delivered</option>
   <!--   <option>{{item.initial}}</option> -->
   
   <!-- <option>Cancelled</option> --></select>
      </td>
      
   
      </tr>
     
       </tbody>
       </table>
       </div>
       </div>
     </div>
          <div class="col-sm-6">
          Allocate  <!-- <form > -->
                    <select id="party" ng-model="allocatevendor"   ng-change="updateorder(allocatevendor,selectedrow)"  ng-disabled="initDis=='Delivered' || initDis=='Completed' ">

                        <option ng-repeat="vendor in vendorNames" ng-cloak>{{vendor.subscriber}}</option>
                    </select>
                      
       
 </div>
  
     
           <div class="col-sm-6"> 
         <button ng-click="removeItem(selectedrow)" class="btn btn-danger">Cancel Item</button>
          <button ng-click="removeOrder(selectedrow)" class="btn btn-danger">Cancel Order</button>
          <br>
        </div>
        </div>
         </div><br>
   
  
</body>
</html>